.button-container {
    @include flex($dir: column, $align: center, $just: space-between);
    padding: 20px;
    @include medq($break-m) {
        @include flex($dir: row, $just: space-around);
    }
}

button,
.github-link {
    color: $black;
    border: 1px solid $grey;
    padding: 10px 8px;
    border-radius: 10px;
    font-size: 1.25em;
    width: 140px;
    margin: 8px;
    transition: border .4s ease-in-out,
                background .4s ease-in-out;
    &:hover,
    &:focus,
    &:active {
        border: 1px dashed $black;
        outline: none;
        background: $btn;
    }
}

.modal-link {
    text-decoration: none;
    text-align: center;
}

.project-links {
    @include flex($dir: row, $just: space-around);
}