.mockup-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 20px;
    max-width: 1200px;
    margin: auto;
    @include medq($break-m) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    @include medqL($break-l) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

    }
}

.mockup {
    border: 2px solid $white;
    background: $bg;
    text-align: center;
    overflow: auto;
    padding: 10px;
    border-radius: 4px;
    transition: border .8s ease-in-out,
                box-shadow .8s ease-in-out,
                transform .3s ease-in-out;;
    &:hover {
        border: 2px solid $grey;
        box-shadow: 0px 2px 4px $grey;
        transform: translateY(-1px);
    }
}


.mockup__desc {
    margin: 0px 10px;
}